.DS_Store
node_modules/
dist/
trade-manage/
npm-debug.log
yarn-error.log
test/unit/coverage
test/e2e/reports
selenium-debug.log
src/router/temp/
src/pages/themeEvent/modules/asyncComponentNames.yaml
dll/

.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.7z
*.rar
*.zip